<!-- обработка записи на визит  -->

<!-- Запуск плагинов colorpicker и datetimepicker-->
<script type="text/javascript">
  // причем плагины запустится только после загрузки страницы
  $(function(){
    $('#colorpicker').simplecolorpicker({theme: 'glyphicons'});
    $.datetimepicker.setLocale('ru');
    $('#datetimepicker').datetimepicker({step: 30});
  })
</script>

<h3>Make an appointment</h3>
<p>Here you can make an appointment for visit in the Candy Shop</p>

<form action="/visit" method="POST">

<div class='col-sm-6'>
  <!-- Имя -->
  <div class="form-group">
    <label>Your name</label>
    <input name = "aaa[name]" type="text" class="form-control" placeholder="Name" required value="">
  </div>

  <!-- Телефон -->
  <div class="form-group">
    <label>Phone</label>
    <input name = "aaa[phone]" type="text" class="form-control" placeholder="Phone" required value="">
  </div>

  <!-- время визита -->
  <div class="form-group">
      <label>Data and Time</label>
      <input name = "aaa[date]" id='datetimepicker' type="text" class="form-control" placeholder="Data and Time" required value="">
  </div>

  <!-- К кому -->
  <div class="form-group">
    <label>Who is your Candy?</label>
    <select name = "aaa[candy]" class="form-control">
      <!-- Элементы списка берутся из БД с сохранением предыдущего значения -->
      <% $candies.each do |c| %>
          <option <%= @candy==c.candyname ? "selected" : "" %>> <%= c.candyname %> </option>
      <% end %>
    </select>
  </div>

  <!-- Выбор цвета -->
  <div class="form-group">
    <label>Or what color you prefered?</label>
      <select id="colorpicker" name="client[color]">
        <!-- Сохраняется предыдущее введенное значение -->
        <option value="White" <%= @colorpicker=="White" ? "selected" : "" %>>White</option>
        <option value="Black" <%= @colorpicker=="Black" ? "selected" : "" %>>Black</option>
        <option value="Yellow" <%= @colorpicker=="Yellow" ? "selected" : "" %>>Yellow</option>
        <option value="Red" <%= @colorpicker=="Red" ? "selected" : "" %>>Red</option>
      </select>
  </div>

  <!-- Отправка формы -->
  <button type="submit" class="btn btn-primary">Submit</button>

  </div>
</form>